@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --link-color: #337ab7;
  --link-hover-color: #7c24a5;
  --input-hover-border-color: #007bff;
}

html.light {
  --background-color: #ffffff;
  --background-hover-color: #f1f1f1;
  --modal-background-color: #f8f8f8;
  --border-hover-color: #b3b3b3;
  --border-color: #cccccc;
  --cell-background-color: #c6c6c6;
  --text-color: #444444;
  --minesweeper-first-border-color: #808080;
  --minesweeper-second-border-color: #ffffff;
  --mine-touched-color: #ff0000;
  --type1-color: #0000f7;
  --type2-color: #007700;
  --type3-color: #ec0000;
  --type4-color: #000080;
  --type5-color: #800000;
  --type6-color: #008080;
  --type7-color: #000000;
  --type8-color: #707070;
}

html.dark {
  --background-color: #181a1b;
  --background-hover-color: #444444;
  --modal-background-color: #202428;
  --border-hover-color: #b3b3b3;
  --border-color: #cccccc;
  --cell-background-color: #4c545c;
  --text-color: #ffffff;
  --minesweeper-first-border-color: #1e262e;
  --minesweeper-second-border-color: #707880;
  --mine-touched-color: #ff0000;
  --type1-color: #7cc7ff;
  --type2-color: #66c266;
  --type3-color: #ff7788;
  --type4-color: #ee88ff;
  --type5-color: #ddaa22;
  --type6-color: #66cccc;
  --type7-color: #999999;
  --type8-color: #d0d8e0;
}

#theme-toggler {
  position: absolute;
  right: 1rem;
  top: 0;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.75rem 1.75rem;
  border-radius: 0.5rem;
}

#theme-toggler:hover {
  cursor: pointer;
}

html.light #theme-toggler {
  background-image: url("../img/sun.svg");
}

html.dark #theme-toggler {
  background-image: url("../img/moon.svg");
}

body {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

._container {
  position: relative;
  margin: 0 auto;
  max-width: 60.625rem;
  padding: 0 1rem;
}

.game {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

@media (max-width: 37rem) {
  .levels {
    flex-wrap: wrap;
    gap: 0.5rem !important;
  }
  .title {
    font-size: 1.65rem;
  }
  #theme-toggler {
    top: 5.75rem;
  }
}

.wrapper {
  position: relative;
  width: fit-content;
  border: calc(var(--cell-size) * 0.1875) solid;
  border-color: var(--minesweeper-second-border-color)
    var(--minesweeper-first-border-color) var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color);
  box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.75);
}

.modal {
  display: none;
}

.modal._active {
  position: absolute;
  width: 12.5rem;
  top: 50%;
  right: -13.5rem;
  transform: translate(0, -50%);

  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--modal-background-color);
  z-index: 1;

  border: calc(var(--cell-size) * 0.09375) solid;
  border-color: var(--minesweeper-second-border-color)
    var(--minesweeper-first-border-color) var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color);
}

.modal__text {
  position: relative;
  margin-bottom: 0.5rem;

  font-size: 1.125rem;
}

.modal__text::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10rem;
  height: 0.0625rem;
  background-color: var(--text-color);
}

@media (max-width: 48rem) {
  .modal._active {
    bottom: -9rem;
    left: 50%;
    top: unset;
    right: unset;
    transform: translate(-50%, 0);
  }
}

html.light .modal {
  box-shadow: -0.5px -0.5px 0 0.5px #485058, 0 0 0 1px #0a0c0e,
    -0.5px -0.5px 0 1.5px #485058, 0 0 0 2px #0a0c0e;
}

.root-wrapper {
  border: calc(var(--cell-size) * 0.3542) solid var(--cell-background-color);
}

.root__header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--cell-size) * 0.1875);
  background-color: var(--cell-background-color);
  border: calc(var(--cell-size) * 0.1875) solid;
  border-color: var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color)
    var(--minesweeper-second-border-color) var(--minesweeper-first-border-color);
}

.header-wrapper {
  border-bottom: calc(var(--cell-size) * 0.3542) solid
    var(--cell-background-color);
}

#root {
  display: grid;
  grid-template-columns: repeat(var(--field-width), var(--cell-size));
  grid-template-rows: repeat(var(--field-height), var(--cell-size));
  width: fit-content;
  height: fit-content;
  border: calc(var(--cell-size) * 0.1875) solid;
  border-color: var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color)
    var(--minesweeper-second-border-color) var(--minesweeper-first-border-color);
}

.counter {
  display: flex;
  width: calc(var(--cell-size) * 2.5625);
  height: calc(var(--cell-size) * 1.5625);
  gap: calc(var(--cell-size) * 0.125);
  box-sizing: border-box;

  text-align: end;

  position: relative;
  border: calc(var(--cell-size) * 0.09375) solid;
  border-color: var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color)
    var(--minesweeper-second-border-color) var(--minesweeper-first-border-color);
  background-color: #000000;
}

.counter__element {
  position: relative;

  overflow: hidden;
  background-image: url("../img/num-bg.svg");
  background-size: cover;
  width: calc(var(--cell-size) * 2.5625 - (var(--cell-size) * 0.125 * 2));
  height: 100%;
}

.counter__element.type-num-::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num-.svg");
  background-size: contain;
}

.counter__element.type-num0::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num0.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num1.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num2.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num3.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num4.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num5.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num6::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num6.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num7::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num7.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num8::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num8.svg") center no-repeat;
  background-size: contain;
}

.counter__element.type-num9::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("../img/num9.svg") center no-repeat;
  background-size: contain;
}

.cell {
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-color: var(--cell-background-color);

  font-size: calc(var(--cell-size) * 0.5);
}

.cell.closed {
  border: calc(var(--cell-size) * 0.125) solid;
  border-color: var(--minesweeper-second-border-color)
    var(--minesweeper-first-border-color) var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color) !important;
}

.cell.opened {
  border: calc(var(--cell-size) * 0.03) solid
    var(--minesweeper-first-border-color) !important;
}

.cell.flagged {
  background-image: url("../img/flag.svg");
  background-size: contain;
  border-color: var(--minesweeper-second-border-color)
    var(--minesweeper-first-border-color) var(--minesweeper-first-border-color)
    var(--minesweeper-second-border-color) !important;
}

.cell.fail {
  background-color: var(--mine-touched-color) !important;
}

.settings {
  font-size: 1.125rem;
  line-height: 1.2;

  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.settings__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.settings__aside {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* no functional with more-settings now *\
/* maybe add in future  *\
/* .more-settings {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  transition: transform 0.3s ease 0s;
}

html.light .more-settings {
  background-image: url("../img/light/settings.svg");
}

html.dark .more-settings {
  background-image: url("../img/dark/settings.svg");
}

.more-settings:hover {
  cursor: pointer;
  transform: rotate(90deg);
} */

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.levels {
  display: flex;
  gap: 1rem;
}

.level__item {
  color: var(--link-color);
  transition: color 0.3s ease 0s;
}

.level__item:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.settings__custom {
  display: none;
}

.settings__custom._active {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input {
  width: 6.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.125rem;
  font-family: "Arial", sans-serif;
  border: 0.125rem solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.input:hover {
  border-color: var(--input-hover-border-color);
}

.input:focus {
  border-color: var(--input-hover-border-color);
  box-shadow: 0 0 1.5rem rgba(0, 123, 255, 0.2);
}

.button {
  padding: 0.25rem 1rem;
  font-size: 1.125rem;
  font-family: "Arial", sans-serif;
  border: 0.125rem solid var(--minesweeper-first-border-color);
  border-radius: 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--background-hover-color);
  border-color: var(--border-hover-color);
}

.button:focus {
  box-shadow: 0 0 0.5rem rgba(0, 123, 255, 0.2);
}

html.light .restart-button {
  width: calc(var(--cell-size) * 1.625);
  height: calc(var(--cell-size) * 1.625);
  background-image: url("../img/light/face-unpressed.svg");
  background-size: cover;
}

html.light .restart-button.lose {
  background-image: url("../img/light/face-lose.svg");
}

html.light .restart-button.win {
  background-image: url("../img/light/face-win.svg");
}

html.light .restart-button:active {
  background-image: url("../img/light/face-pressed.svg");
}

html.dark .restart-button {
  width: calc(var(--cell-size) * 1.625);
  height: calc(var(--cell-size) * 1.625);
  background-image: url("../img/dark/face-unpressed.svg");
  background-size: cover;
}

html.dark .restart-button.lose {
  background-image: url("../img/dark/face-lose.svg");
}

html.dark .restart-button.win {
  background-image: url("../img/dark/face-win.svg");
}

html.dark .restart-button:active {
  background-image: url("../img/dark/face-pressed.svg");
}

select {
  width: 5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

select:hover {
  border-color: #007bff;
}

.safe-click-toggler {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.5rem;
}

.safe-click-toggler p {
  color: var(--text-color);
  font-size: 1rem;
}

//custom switch
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(
    --cell-background-color
  ); /* Background color of the switch when it's OFF */
  transition: all 0.5s ease 0s;
  border-radius: 1.5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(
    --input-hover-border-color
  ); /* Background color of the switch when it's ON */
}

input:checked + .slider:before {
  transform: translateX(1rem); /* Moves the circle to the right when ON */
}

.slider:before {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.slider {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.cell:after {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.type1::after {
  content: "1";
  color: var(--type1-color);
}

.type2::after {
  content: "2";
  color: var(--type2-color);
}

.type3::after {
  content: "3";
  color: var(--type3-color);
}

.type4::after {
  content: "4";
  color: var(--type4-color);
}

.type5::after {
  content: "5";
  color: var(--type5-color);
}

.type6::after {
  content: "6";
  color: var(--type6-color);
}

.type7::after {
  content: "7";
  color: var(--type7-color);
}

.type8::after {
  content: "8";
  color: var(--type8-color);
}

.type10 {
  background-image: url("../img/mine.svg");
  background-size: contain;
}
