a {
  text-decoration: none;
  color: black;
}

#root {
  display: grid;
}

.cell {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.flagged {
  background-color: blue !important;
}

.levels {
  display: flex;
  gap: 1rem;
}
.level__item {
}
.level__item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.settings {
  display: none;
}
.settings._active {
  display: block;
}

.type10 {
  background-color: pink;
}

.type11 {
  background-color: red;
}

.type1 {
}

.closed {
  background-color: gray;
}

.opened {
  border: 1px solid gray;
}

.size-34 {
  width: 34px;
  height: 34px;
  font-size: 15px;
  line-height: 33px;
}
