a {
  text-decoration: none;
  color: black;
}

#root {
  display: grid;
}

.cell {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.flagged {
  background-color: blue !important;
}

.levels {
  display: flex;
  gap: 1rem;
}

.level__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.settings {
  display: none;
}

.settings._active {
  display: block;
}

.type10 {
  background-color: pink;
}

.type11 {
  background-color: red;
}
.type1::after {
  content: "1";
}

.type2::after {
  content: "2";
}

.type3::after {
  content: "3";
}

.type4::after {
  content: "4";
}

.type5::after {
  content: "5";
}

.type6::after {
  content: "6";
}

.type7::after {
  content: "7";
}

.type8::after {
  content: "8";
}

.closed {
  background-color: gray;
}

.opened {
  border: 1px solid gray;
}

.size-34 {
  width: 34px;
  height: 34px;
  font-size: 15px;
  line-height: 33px;
}

#custom-settings {
  display: none;
}

#custom-settings._active {
  display: block;
}
